In [1]:
import pandas as pd

In [2]:
df =  pd.read_csv('/Users/msughter/Downloads/data-ny-gov-ybg5-afvs/data/input_data.csv')

In [3]:
df.columns

Index(['academic_year', 'degree_type', 'record_type', 'count'], dtype='object')

In [9]:
df.head()

  academic_year           degree_type  count
0     2016-2017  ADVANCED CERTIFICATE    741
1     2016-2017             ASSOCIATE  17372
2     2016-2017            BACHELOR'S  24456
3     2016-2017           CERTIFICATE    173
4     2016-2017              DOCTORAL    521

In [5]:
df = df.drop(columns=['record_type'])

In [11]:
df.columns

Index(['academic_year', 'degree_type', 'count'], dtype='object')

In [13]:
# print all the object columns
s = (df.dtypes == 'object')
object_cols = list(s[s].index)
object_cols

['academic_year', 'degree_type']

In [14]:
# as we can see from the above result the academic_year and degree_type 
# are all objects
# therefore we would be conveting them numbers using ordinal encoding

from sklearn.preprocessing import OrdinalEncoder
# Make copy to avoid changing the original data
processed_data = df.copy()
# Apply ordinal encoder to each column with categorical data
ordinal_encoder = OrdinalEncoder()

processed_data[object_cols] = ordinal_encoder.fit_transform(df[object_cols])

In [15]:
processed_data.head()

   academic_year  degree_type  count
0           50.0          0.0    741
1           50.0          1.0  17372
2           50.0          4.0  24456
3           50.0          6.0    173
4           50.0          8.0    521

In [8]:
df.head()

  academic_year           degree_type  count
0     2016-2017  ADVANCED CERTIFICATE    741
1     2016-2017             ASSOCIATE  17372
2     2016-2017            BACHELOR'S  24456
3     2016-2017           CERTIFICATE    173
4     2016-2017              DOCTORAL    521

In [7]:
df.head()

  academic_year           degree_type  count
0     2016-2017  ADVANCED CERTIFICATE    741
1     2016-2017             ASSOCIATE  17372
2     2016-2017            BACHELOR'S  24456
3     2016-2017           CERTIFICATE    173
4     2016-2017              DOCTORAL    521

In [16]:
processed_data.to_csv('/Users/msughter/Downloads/data-ny-gov-ybg5-afvs/data/processed_data.csv',header=False,index=False)